{% extends 'base.html' %}
{% block title %} {{single_post.title}} {% endblock  %}


{% block content %}
{% load static %}
<main id="main">

     <section class="single-post-content">
          <div class="container">
               <div class="row">
                    <div class="col-md-9 post-content">

                         <!-- ======= Single Post Content ======= -->
                         <div class="single-post">
                              <div class="post-meta"><span class="date"><a
                                             href="{{single_post.category.get_url}}">{{single_post.category}}</a></span>
                                   <span class="mx-1">&bullet;</span>
                                   <span>{{single_post.created_on | date:"F d Y"}}</span></div>
                              <a href="">
                                   <h1 class="mb-5">{{single_post.title}}</h1>
                              </a>
                              {% comment %} <a href="{% url 'show_profile_page' single_post.author.id %}">{{single_post.author.id}}</a> {% endcomment %}

                              <p> Tags: {{ single_post.tags.all|join:", " }} </p>

                              {% if user.is_authenticated %}


                              {% if user.id == single_post.author.id %}

                              <a href="{% url 'update_post' single_post.slug %}">

                                   <button type="button" class="btn btn-info">Edit Post</button>
                              </a>
                              <a href="{% url 'delete_post' single_post.slug %}">

                                   <button type="button" class="btn btn-danger">Delete Post</button>
                              </a>
                              {% endif %}


                              {% endif %}

                              {% comment %} <p><span class="firstcharacter">L</span>orem ipsum dolor sit, amet
                                   consectetur adipisicing elit. Ratione officia sed, suscipit distinctio, numquam omnis
                                   quo fuga ipsam quis inventore voluptatum recusandae culpa, unde doloribus saepe
                                   labore alias voluptate expedita? Dicta delectus beatae explicabo odio voluptatibus
                                   quas, saepe qui aperiam autem obcaecati, illo et! Incidunt voluptas culpa neque
                                   repellat sint, accusamus beatae, cumque autem tempore quisquam quam eligendi harum
                                   debitis.</p> {% endcomment %}

                              <figure style="left:45%" class="my-4">
                                   {% if single_post.heder_image %}
                                   <img src="{{single_post.heder_image.url}}" alt="" class="img-fluid">
                                   <figcaption style="text-align:center">
                                        {{single_post.heder_image_Under_line}}
                                   </figcaption>
                                   {% elif  single_post.heder_image_url%}

                                   <img src="{{single_post.heder_image_url}}" alt="" class="img-fluid">
                                   <figcaption>
                                        {{single_post.heder_image_Under_line}}
                                   </figcaption>

                                   {% endif %}
                              </figure>


                              {% comment %} <figure class="my-4">
                                   <img src="{{single_post.heder_image.url}}" alt="" class="img-fluid">
                                   <figcaption>
                                        {{single_post.heder_image_Under_line}}
                                   </figcaption>
                              </figure> {% endcomment %}
                              <p>{{single_post.body|safe}}</p>
                         </div><!-- End Single Post Content -->

                         <!-- ======= Comments ======= -->

                         {% comment %} <div class="comments">
                              <h5 class="comment-title py-4">{{comments.count}} Comments</h5>

                              {% for comment in comments %}


                              <div class="comment d-flex">
                                   <div class="flex-shrink-0">

                                   </div>
                                   <div class="flex-shrink-1 ms-2 ms-sm-3">
                                        <div class="comment-meta d-flex">
                                             <h6 class="me-2">{{ comment.name }}</h6>
                                             <span class="text-muted"> {{ comment.created_on }}</span>
                                        </div>
                                        <div class="comment-body">
                                             {{ comment.body | linebreaks }}
                                        </div>
                                   </div>
                              </div>

                              {% endfor %}
                         </div> {% endcomment %}

                         <!-- End Comments -->

                         <!-- ======= Comments Form ======= -->

                         <h5 class="comment-title py-4">{{comments.count}} Comments</h5>
                         {% for comment in comments %}
                         <div class="comments" style="padding: 10px;">
                              <p class="font-weight-bold">
                                   {{ comment.name }}
                                   <span class=" text-muted font-weight-normal">
                                        {{ comment.created_on }}
                                   </span>
                              </p>
                              {{ comment.body | linebreaks }}
                         </div>
                         {% endfor %}





                         {% comment %} <div class="card-body">

                              <h3>Leave a comment</h3>
                              <form method="post" style="margin-top: 1.3em;">
                                   {{ comment_form.as_p }}
                                   {% csrf_token %}
                                   <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
                              </form>

                         </div> {% endcomment %}

                         {% comment %} <div class="col-md-8 card mb-4  mt-3 ">
                              <div class="card-body">
                                   {% if new_comment %}
                                   <div class="alert alert-success" role="alert">
                                        Your comment is awaiting moderation
                                   </div>
                                   {% else %}
                                   <h3>Leave a comment</h3>
                                   <form method="post" style="margin-top: 1.3em;">
                                        {{ comment_form.as_p }}
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
                                   </form>
                                   {% endif %}
                              </div>
                         </div> {% endcomment %}






                         <div class="row justify-content-center mt-5">

                              <div class="col-lg-12">
                                   {% if new_comment %}
                                   <div class="alert alert-success" role="alert">
                                        Your comment is awaiting moderation you can go <a href="{% url 'home' %}">Home</a>
                                   </div>
                                   {% else %}

                                   <h5 class="comment-title">Leave a Comment</h5>
                                   <form method="post" style="margin-top: 1.3em;">
                                   <div class="row">
                                        <div class="col-lg-6 mb-3">
                                             <label for="comment-name">Name</label>
                                              {% csrf_token %}
                                             {{ comment_form.name }}
                                             
                                        </div>
                                        <div class="col-lg-6 mb-3">
                                             <label for="comment-email">Email</label>
                                             {{ comment_form.email }}
                                             
                                        </div>
                                        <div class="col-12 mb-3">
                                             <label for="comment-message">Message</label>
                                             {{ comment_form.body }}

                                             
                                        </div>
                                        <div class="col-12">
                                            
                                        <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
                                        </div>
                                   </form>
                                   </div>
                                   {% endif %}
                              </div>
                         </div><!-- End Comments Form -->

                    </div>
                    <div class="col-md-3">
                         <!-- ======= Sidebar ======= -->
                         <div class="aside-block">
                              <h3 class="aside-title">Categories</h3>
                              <ul class="aside-links list-unstyled">
                                   {% for category in categories %}
                                   <li><a href="{{category.get_url}}"><i class="bi bi-chevron-right"></i>{{category.category_name}}</a></li>
                                   {% endfor %}
                                  
                              </ul>
                         </div><!-- End Categories -->
                         



                        

                         {% comment %} <div class="aside-block">
                              <h3 class="aside-title">Tags</h3>
                              <ul class="aside-tags list-unstyled">
                                   <li><a href="category.html">Business</a></li>
                                   <li><a href="category.html">Culture</a></li>
                                   <li><a href="category.html">Sport</a></li>
                                   <li><a href="category.html">Food</a></li>
                                   <li><a href="category.html">Politics</a></li>
                                   <li><a href="category.html">Celebrity</a></li>
                                   <li><a href="category.html">Startups</a></li>
                                   <li><a href="category.html">Travel</a></li>
                              </ul>
                         </div><!-- End Tags --> {% endcomment %}

                    </div>
               </div>
          </div>
     </section>
</main><!-- End #main -->
{% endblock  %}